@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    background-color: rgb(240, 240, 240);
    cursor: default;
    user-select: none;
    overflow: visible;
}

/* Main content styles */
main {
    flex: 1;
    padding: 20px;
    font-size: 0.8rem;
}

h2 {
    display: inline-block;
    font-size: 1.7em;
    transition: color 0.3s ease;
}

h2:hover {
    color: #96440d;
}

a {
    text-decoration: none;
    color: #f2f2f2;
    transition: color 0.7s ease;
}

a:hover {
    color: #96440d;
}

.infotel {
    color: #001224;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

.menu-item {
    width: calc(50% - 20px);
    padding: 10px;
    margin: 10px;
    text-align: left;
    color: #001224;
    font-weight: bold;
}

.menu-item img {
    width: 40px;
    height: 40px;
}

.menu-item p {
    margin-top: 4px;
    font-size: 0.93em;
}

.menu-item-description {
    font-weight: normal;
    font-size: 0.8rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.menu-item-content {
    margin-top: 15px;
}

.card-menu {
    margin: 30px auto;
    width: 50%;
    display: block;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}

.popup img {
    max-width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styles pour les horaires d'ouverture */
h3 {
    margin-top: 20px;
    font-size: 1.3em;
}

p strong {
    color: #333;
}

/* Styles pour l'adresse */
p {
    font-size: 16px;
    margin: 10px 0;
}

.informations-contact {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.item {
    width: calc(50% - 20px);
    padding: 10px;
    margin: 10px;
    text-align: left;
    color: #001224;
}

/* Pour les appareils mobiles et les écrans de petite taille */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    main {
        padding: 10px;
    }

    .card-menu {
        width: 100%;
    }

    .menu {
        padding: 20px;
    }

    .menu-item {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
    }

    .menu-item img {
        width: 40px;
        height: 40px;
    }

    .informations-contact {
        flex-direction: column;
        align-items: center;
    }

    .item {
        width: 100%;
        text-align: center;
    }
}

.content-transition {
    opacity: 0;
    transition: transform 1.5s ease, opacity 0.5s ease;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

* {
    -ms-overflow-style: none; 
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
